{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
<header>
  <h1>About symblog</h1>
</header>
<article>
  <p>
    This blog is all about the user learning to write using the Symfony2 framework.
    It is also somewhat about the user learning php at the same time as well.
    Good times.
  </p>
</article>
{% endblock %}