<form action="{{ path('comment_create_for_blogid', {'blogId' : comment.blog.id }) }}" method="post" {{ form_enctype(form) }}  class="blogger">
  {{ form_widget(form) }}
  <p>
    <input type="submit" value="Submit"/>
  </p>
</form>